<nav>
  <h2><a href="/">{{ site.data.theme.name }}</a></h2>
  <a href="/">
    {% if site.data.theme.social.gravatar %}
    <img src="http://www.gravatar.com/avatar/{{ site.data.theme.social.gravatar }}?s=200" id="gravatar" alt="My photo"/>
    {% else %}
    <img src="/IMG_2665.jpg" width="65%" id="IMG_2665.jpg"/>
    {% endif %}
  </a>
  <div id="bio">
    Vivatsgasse 7, 53111 Bonn
    <p>
    </p>
  </div>
  <div id="social">
    {% include social.html %} 
  </div>
 <hr>
  <small>
What though the radiance which was once so bright<br>
Be now for ever taken from my sight,<br>
Though nothing can bring back the hour <br>
Of splendour in the grass, of glory in the flower; <br>
We will grieve not, rather find <br>
Strength in what remains behind; <br>
In the primal sympathy <br>
Which having been must ever be; <br>
In the soothing thoughts that spring <br>
Out of human suffering; <br>
In the faith that looks through death, <br>
In years that bring the philosophic mind.
  </small>
</nav>
