<nav>
  <h2><a href="/">{{ site.data.theme.name }}</a></h2>
  <a href="/">
    {% if site.data.theme.social.gravatar %}
    <img src="http://www.gravatar.com/avatar/{{ site.data.theme.social.gravatar }}?s=200" id="gravatar" alt="My photo"/>
    {% else %}
    <img src="/IMG_2665.jpg" width="65%" id="IMG_2665.jpg" alt="Blog logo"/>
    {% endif %}
  </a>
  <div id="bio">
    <p>I am a postdoctoral fellow at Max-Planck Institut for Mathematics in Bonn. Before that I was a PhD student in Stavanger,
    under the supervision of <a href="http://www.ux.uis.no/%7Emartingg/">Martin Gulbrandsen</a> and 
    <a href="http://www.math.ku.dk/english/about/news/halle/"> Lars H. Halle</a>. </p>
    <p>
    </p>
  </div>
  <div id="social">
    {% include social.html %}
  </div>
</nav>
