<nav>
  <h2><a href="/">{{ site.data.theme.name }}</a></h2>
  <a href=kowalski.html> Welcome to my home</a>
  <a href="/">
    {% if site.data.theme.social.gravatar %}
    <img src="http://www.gravatar.com/avatar/{{ site.data.theme.social.gravatar }}?s=200" id="gravatar" alt="My photo"/>
    {% else %}
    <img src="/IMG_2665.jpg" width="65%" id="IMG_2665.jpg"/>
    {% endif %}
  </a>
  <div id="bio">
    Via Bonomea 265, 34136 Trieste (Office 706)
    <p>
    </p>
  </div>
  <div id="social">
    {% include social.html %} 
  </div>
</nav>
